name: Emlak Portali Otomasyonu

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Bağımlılıklar
        run: |
          pip install playwright
          playwright install chromium
      - name: Botu Çalıştır
        run: python pro_scraper.py
      - name: Sayfayı ve Veriyi Yayınla
        run: |
          git config --global user.name "Emlak Bot"
          git config --global user.email "bot@github.com"
          git add index.html data/database.json
          git commit -m "Portal ve veritabanı güncellendi" || exit 0
          git push
